name: 'build'
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  sample:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This is a build workflow for version ${{ inputs.version }}."

#   # Example job for Node.js projects
#   node:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v5
#       - name: Use Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: '20.x'
#       - run: npm ci
#       - run: npm run build
#       - run: npm publish --tag ${{ inputs.version }}
