name: 'Initialize repository'
on:
  push:
    branches:
      - main
      - master
      - develop
  workflow_dispatch:

jobs:
  repository_initialize:
    uses: slime-hatena/reusable-workflows/.github/workflows/initialize_repository.yml@main
