name: 'Label maintenance'
on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened
  workflow_dispatch:

jobs:
  call-reusable-ci:
    uses: slime-hatena/reusable-workflows/.github/workflows/label-maintenance.yaml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # secret を渡す
