name: 'Label maintenance (dry-run)'
on:
  push:
    paths:
      - '.github/labels.json'
  workflow_dispatch:

jobs:
  call-reusable-ci:
    uses: slime-hatena/reusable-workflows/.github/workflows/label-maintenance-dryrun.yaml@main
