name: 'Repository initialize'
on:
  push:
    branches:
      - main
      - master
      - develop
  workflow_dispatch:

jobs:
  repository_initialize:
    uses: slime-hatena/reusable-workflows/.github/workflows/repository_initialize.yaml@main
